.ivu-menu-light {
  /* rgb(215, 233, 240) */
<<<<<<< HEAD
    /* background: rgb(248, 65, 19) !important; */
=======
    background: #99CC99 !important;
>>>>>>> 25b3fdb202512b148d8c95b8eeabfa058ccf8609
}
/* .ivu-menu-horizontal .ivu-menu-submenu {
  width: 16%;
} */
.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
  display: flex;
  align-items: center;
  width: 14%;
}
.ivu-menu-horizontal {
  height:75px;
  line-height: 75px;
}
.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
  font-size: 20px;
<<<<<<< HEAD
  color: #f31c1c!important;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #fafbfd;
  background: #0c0c0c!important;
  z-index: 2;
}
.light-left{
  background: #5b5c61 !important;
  width:185px !important;
  height: 1200px;
  color:rgb(163, 157, 157);
}
.top{
  margin-top: 65px;
}
.ivu-menu-vertical .ivu-menu-item{
  /* width:50px; */
  height: 60px;
  line-height: 30px;
  border: 1px solid gray;
}
=======
}

>>>>>>> 25b3fdb202512b148d8c95b8eeabfa058ccf8609
